h1 {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  width: 100%;
  height: 100px;
  background-color: #2f4156;
  position: center;
  top: 10px;
border-radius: 15px;
margin: 0px;
margin-bottom: 10px;
}

nav {
  height: 100%;
  width: 100%;
  font-size: larger;
  font-family: "Cormorant Garamond", serif;
  background-color: #c8d9e6;
  border-radius: 16px;
 
}

body {
  text-align: center;
  background-color: #567c8d;
  color: #FFFFFF;
  font-family: "Cormorant Garamond", serif;

}

img {
  width: 265px;
  height: 235px;

}
h2{
  background-color: #2f4156;
  border-radius: 15px;
}
section#introduccion{
  background-color: #f5efeb;
  color: #2f4156;
  padding: 12px;
  border-top: 15px;
  border-radius: 15px;
margin: 15px;
}
article{
  background-color: #f5efeb;
  padding: 10px;
  color: black;
  border-radius: 15px;
}
.titulos-de-articulos{
  color: #f5efeb;
}
footer{
  background-color: #f5efeb;
  color: black;
  border-radius: 15px;
}
ul{
  text-align: left;
}
.articulos-independientes{
  margin: 15px;
}